<div class="container">
  <button class="btn-outline" (click)="goBack()">&larr; Back to dashboard</button>

  <h2>New mobility application</h2>

  @if (errorMessage()) {
    <div class="message error">{{ errorMessage() }}</div>
  }

  <div class="field">
    <label>Academic year</label>
    <input [(ngModel)]="academicYear" name="ay" />
  </div>

  <div class="field">
    <label>Host institution</label>
    <select [(ngModel)]="institutionId" name="inst">
      <option value="">-- Select --</option>
      @for (i of institutions(); track i._id) {
        <option [value]="i._id">{{ i.name }} ({{ i.city }}, {{ i.country }})</option>
      }
    </select>
  </div>

  <div class="field">
    <label>Referent lecturer</label>
    <select [(ngModel)]="lecturerId" name="lect">
      <option value="">-- Select --</option>
      @for (l of lecturers(); track l._id) {
        <option [value]="l._id">{{ l.firstName }} {{ l.lastName }}</option>
      }
    </select>
  </div>

  <div class="field">
    <label>Mobility period</label>
    <select [(ngModel)]="mobilityPeriod" name="period">
      <option value="first_semester">First semester</option>
      <option value="second_semester">Second semester</option>
      <option value="full_year">Full year</option>
    </select>
  </div>

  <button (click)="onSubmit()">Create application</button>
</div>
